{% extends 'layouts/base.html.twig' %}

{% block title %}Connexion à Technistore{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="./styles/login.css">
	<link rel="stylesheet" href="./styles/cdc.css">
{% endblock %}

{% block body %}
	{# <section id="info-a-supprimer" class="py-2 col-6 container bg-white">
		<table class="bd-callout bd-callout-danger py-2 table">
		<h1 class="mt-2 text-center h3 text-danger">Connexion à l'application</h1>
			<thead>
				<tr>
				<th scope="col">Email</th>
				<th scope="col">Mot de passe</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td>admin@technisonic.fr</td>
				<td>password</td>

				</tr>
				<tr>
				<td>magasinier@technisonic.fr</td>
				<td>password</td>
				</tr>
				<tr>
				<td>user@technisonic.fr</td>
				<td>password</td>
				</tr>
			</tbody>
		</table>
	</section> #}

	<section id="connexion">
		<div class="login-page bg-light rounded">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<h1 class="mb-3 text-center" data-text="technistore">Technistore</h1>
						<div class="bg-white shadow rounded">
							<div class="row">
								<div class="col-md-7 pe-0">
									<div class="form-left h-100 py-5 px-5">

										<form
											action="" class="row g-4" method="post">

											{# Affichage de l'erreur #}
											{% if error %}
												{# <div class="alert alert-danger">
													{{ error.messageKey | trans(error.messageData, 'security') }}
												</div> #}
												{{ include("layouts/partials/_flash_messages.html.twig") }}

											{% endif %}

											<div class="col-12">
												<label for="email" class="control-label">Email<span class="text-danger">*</span>
												</label>
												<div class="input-group">
													<div class="input-group-text">
														<i class="bi bi-person-fill"></i>
													</div>
													<input type="email" id="inputEmail" name="email" class="form-control" value="{{ last_username }}" placeholder="Entrez votre adresse e-mail" required autofocus>
												</div>
											</div>

											<div class="col-12">
												<label for="password">Mot de passe<span class="text-danger">*</span>
												</label>
												<div class="input-group">
													<div class="input-group-text">
														<i class="bi bi-lock-fill"></i>
													</div>
													<input type="password" id="inputPassword " class="form-control" name="password" placeholder="Entrez votre mot de passe" required>
												</div>
											</div>

											<div class="col-sm-6">
												<div class="form-check" style="font-familly:arial;font-size:.85em">
													<input class="form-check-input" type="checkbox" id="_remember_me" name="_remember_me">
													<label class="form-check-label" for="_remember_me">Garder ma session active</label>
												</div>
											</div>

											<div class="col-sm-6">
												<a href="#" class="float-end perso_text-primary" style="font-familly:arial;font-size:.85em">Mot de passe oublié ?</a>
											</div>

											<div class="col-12">
												<button type="submit" class="btn btn-lg btn-outline-success d-block mx-auto mt-4 w-50">
													<i class="fas fa-sign-in-alt"></i>
													Connexion
												</button>
											</div>

											{# Le csrf token #}
											<input hidden type="text" name="_csrf_token" value="{{csrf_token('authenticate')}}">
										</form>

									</div>
								</div>
								<div class="col-md-5 ps-0 d-none d-md-block">
									<div class="form-right w-100 h-100 perso_bg-primary text-white text-center pt-5" id="right-side">
										<img class="d-block mx-auto" width="250" height="250" src="./images/bridevproject-logo.png" alt="logo Pascal Briffard">
										<h2 class="fs-1">Technisonic</h2>
									</div>
								</div>
							</div>
						</div>
						<i>
							<p class="text-end text-secondary mt-1 me-1">Application dévellopé par Pascal Briffard.</p>
						</i>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
