<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Technistore
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`  and uncomment the following Encore helpers to start using Symfony UX #}
		<link rel="../../public/images/favicon-circle-32x32.png" href="favicon.ico" type="image/x-icon">

		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<!-- GlphIcon Bootstrap -->
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<!-- Fontawesome -->
		<link
		rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
		<!-- CSS Main -->
		<link
		rel="stylesheet" href="{{ asset('styles/cdc.css') }}">
		<!-- CSS Footer -->
		<link
		rel="stylesheet" href="{{ asset('styles/footer.css') }}">
		<!-- JS Bootstrap -->
		<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
		{% endblock %}

	</head>
		<header>
			{% include "layouts/partials/_navbar.html.twig" %}
		</header>

		<main role="main">
			{{ include("layouts/partials/_flash_messages.html.twig") }}
			{% block body %}{% endblock %}
		</main>

		<section id="separate">
			<br><br><br><br><br>
		</section>


		<footer id="footer" class="my-footer mt-5">
			{% include "layouts/partials/_footer.html.twig"%}
		</footer>




</html></body></html>
