<div class="mt-3 container">
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
				<symbol id="success" fill="currentColor" viewbox="0 0 16 16">
					<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
				</symbol>
				<symbol id="danger" fill="currentColor" viewbox="0 0 16 16">
					<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				</symbol>
			</svg>
			<div class="alert alert-{{type}} alert-dismissible fade show d-flex align-items-center" role="alert">
				<svg
					class="bi flex-shrink-0 me-2"
					width="24"
					height="24"
					role="img"
					aria-label="{{type|capitalize}}:">
					<use xlink:href="#{{type}}"/>
				</svg>
				<div>
					{{ message }}
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="alert"
						aria-label="Close">
					</button>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
</div>


{#
<div aria-live="polite" aria-atomica="true">
	<div class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x" style="z-index: 999999999;">
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="toast bg-{{ type }} text-white d-flex align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
					<div clas="toast-body">
						{{ message }}
					</div>
					<button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
</div> #}
