<div class="mt-2 site-section">
	<div class="container">
		<div class="cta d-block d-md-flex align-items-center px-5">
			<div>
				<h2 class="mb-0">Technistore - système de gestion du matériel.</h2>
			</div>
			<div class="ms-auto">
				<a href="#" class="btn btn-dark rounded-pill py-3 px-5">Contactez nous</a>
			</div>
		</div>
		<div class="row">
			<div class="text-center col-sm">
				<a target="_blank" href="https://www.technisonic.fr/" class="footer-logo">Technisonic</a>
				<p class="copyright"><br>
					<small>&copy;
						{{ "now"|date("Y") }}
						<span class="perso_dark_color">Pascal Briffard</span>
					</small>
				</p>
			</div>

			<div
				id="footer-contact" class="col-sm"><!-- <h3>Signaler un problème</h3> -->
			</div>

			<div class="col-sm">
				<h3>Qui sommes nous</h3>
				<p class="perso_dark_color text-break">
					TECHNISONIC intervient dans le secteur de l’assistance technique auprès des centrales nucléaires d’EDF,
					ainsi que dans le domaine des examens et contrôles non destructifs (END/CND).
				</p>
			</div>
			<div class="col-sm">
				<h3>Société</h3>
				<div class="perso_dark_color">
					<p>45 route de Verdun
						<br>
						57180 Terville
						<br>
						☎ 03.82.86.92.13</p>
				</div>

			</div>

			<div class="text-center col-md-3">
				<h3>Suivez nous</h3>
				<ul class="list-unstyled social">
					<li>
						<a target="_blank" href="https://www.linkedin.com/company/technisonic-gpi">
							<span class="bi bi-linkedin"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
