<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#171933">

	{% if is_granted("ROLE_MAGASINIER") %}
		<img src="{{ asset('images/bridevproject-logo.png') }}" alt="Logo BriDevproject" width="50" style="background-color:#8186d5" class="rounded-pill mx-3">
	{% else %}
		<img src="{{ asset('images/bridevproject-logo.png') }}" alt="Logo BriDevproject" width="50" class="rounded-pill mx-3" style="background-color:snow">
	{% endif %}

	{% if is_granted("ROLE_MAGASINIER") %}
		<a class="navbar-brand" href="{{path('app_materiel_index')}}" style="font-family: 'Poppins', 'sans-serif';
								letter-spacing:2px;
								font-size:2em;
								color:#8186d5
							">
			Technistore
		</a>
	{% else %}
<a class="navbar-brand perso_text-primary" href="#" style="font-family: 'Poppins', 'sans-serif'; letter-spacing:3px; font-size:2em">
			Technistore
		</a>
	{% endif %}

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	{% if app.user %}
		{% if app.user.isAutorised %}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav p-2">

					<li class="nav-item">
						<a class="nav-link" href="{{path('app_materiel_index')}}">Liste du materiel</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_materiel_search')}}">Recherche</a>
					</li>

					{% if is_granted ("ROLE_MAGASINIER") %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Ajouter du matériel
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="{{path('app_materiel_create')}}">Ultrason</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Surfacique</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="#">Produits</a>
								</li>
							</ul>
						</li>
					{% endif %}

				</ul>
				<ul class="nav navbar-nav ms-auto">
					<li>
						<a class="btn btn-sm btn-outline-danger px-3 m-1 me-5" href="{{path('app_logout')}}">
							Déconnexion
						</a>
					</li>
				</ul>
			</div>
		{% else %}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav navbar-nav ms-auto">
					<li>
						<a class="btn btn-sm btn-outline-danger px-3 m-1 me-5 text-capitalize" href="{{path('app_logout')}}">
							déconnexion
						</a>
					</li>
				</ul>
			</div>
		{% endif %}
	{% endif %}
</nav>