{% extends "layouts/base.html.twig" %}

{% block title 'Ajouter un materiel' %}

{% block body %}
    <section id="creation-materiel">
        <div class="mt-5 row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center"> Ajouter un nouveau materiel </h1>
                <div class="container">
                    {% include ('materiels/_form.html.twig') %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}