{% extends "layouts/base.html.twig" %}

{% block body %}

{{ include("layouts/partials/_flash_messages.html.twig") }}

	<section class="container" id="edition-materiel">
		<div class="row">
			<div class="shadow-lg jumbotron text-center mt-2 p-2 rounded col-11" id="title">
				<h1 class="shadow-4">
					{{ materiel.marque }}
				</h1>
			</div>
			<div class="mt-2 col-1">
				<a href="{{path('app_materiel_index')}}" class="btn btn-outline-primary _perso-primary btn-floating float-end rounded-circle">
					<i class="fas fa-th-list"></i>
				</a>
			</div>
		</div>

		{# Inclure mon formulaire et passer une variable pour afficher le nom correct du bouton #}
		{{ include ('materiels/_form.html.twig', { submitButtonText: 'Enregistrer les modifications' }) }}

	</section>

{% endblock %}
