{% extends "layouts/base.html.twig" %}

{% block title  parent() ~ ' | Magasinier'  %}

{% block body %}


{% if not app.user %}
	<div class="mt-5 container alert alert-danger text-center">
		<p class="lead">
			<span class="fw-bold">Erreur - </span>
				Vous avez été déconnecté de l'application
			<a href=" {{path('app_login')}} ">cliquez ici</a>
			pour vous reconnecter.
		</p>
	</div>
	{% elseif (app.user.isAutorised == false) %}
		<div
			style="z-index: 999999999;"
			class="mt-5 container alert alert-danger shadow"
			style="height:10rem; position: fixed; top:50%; left:50%; transform: translate(-50%, -50%);">
			<p class="lead text-center mt-5" style:"position:absolute; top:auto">Vous n'êtes pas encore autoiser à accèder à l'application. Soyez patient, un administrateur va prochainement vous autoriser.</p>
		</div>
	{% else %}

    {#* Formulaire de recherche *#}

<section class="container-fluid mx-1">
	<table class="table mt-3">
		<thead class="text-center h6">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Reférence</th>
				<th scope="col">Marque</th>
				<th scope="col">Type</th>
				<th scope="col">Dimension</th>
				<th scope="col">F</th>
				<th scope="col">PV</th>
				<th scope="col">Affectation</th>
				<th scope="col">Catégorie</th>
				<th scope="col">Fiche matériel</th>
				{% if is_granted ("ROLE_MAGASINIER") %}
					<th class="text-center" scope="col" colspan="2">Action</th>
				{% endif %}

			</tr>
		</thead>

		{% for materiel in materiels %}

			<tbody>
				<tr class="text-center">
					<th scope="row">
						{{ "%03d"|format(materiel.id) }}
					</th>
					<td>
						{{ materiel.reference }}
					</td>
					<td>
						{{ materiel.marque }}
					</td>
					<td>
						{{ materiel.type }}
					</td>
					<td>
						{{ materiel.dimension }}
					</td>
					<td>
						{{ materiel.frequence }}
					</td>

					<td>
						{% if materiel.pvName %}
							<a href="{{ asset('uploads/pv/' ~ materiel.pvName) }}" download>
{{ materiel.pvName | split('-')[0] | capitalize | u.truncate(8, '...') }}

								<i class="far fa-arrow-alt-circle-down text-success"></i>
							</a>
						{% endif %}
					</td>

					<td>
						{{ materiel.affectation }}
					</td>

					<td>
						{{ materiel.categorie|capitalize }}
					</td>


					{# <td>
						{{ materiel.Observation|u.truncate(10, '...', false) }}
					</td> #}

					<td>
						<a class="btn btn-sm btn-success" href="{{ path('app_materiel_show', {'id': materiel.id}) }}">Consulter la fiche</a>
					</td>

					<td>
						{% if is_granted ("ROLE_MAGASINIER") %}
							<a class="btn btn-sm btn-warning me-1" href="{{ path('app_materiel_edit', 		{'id': materiel.id}) }}">
								Modifier
							</a>
							<a  class="btn btn-sm btn-danger ms-1" href="#"
								onclick="event.preventDefault();
								confirm('Êtes-vous sûr de vouloir supprimer?') &&
								document.getElementById('materiel-deletion-form-{{materiel.id}}').submit();">
								Effacer
							</a>
							<form id="materiel-deletion-form-{{materiel.id}}" style="display:" action="{{ path('app_materiel_delete', {'id': materiel.id}) }}" method="POST">
								<input type="hidden" name="csrf_token" value="{{ csrf_token('materiel_deletion_' ~ materiel.id) }}">
							</form>
						{% endif %}
					</td>

				</tr>
			</tbody>
		{% endfor %}
	</table>
</section>

	{#* Pagination *#}
	<div class="d-flex justify-content-center">
		{% do materiels.setPageRange(5) %}
		{{ knp_pagination_render(materiels, 'materiels/_pagination.html.twig') }}
	</div>

	{% endif %}
{% endblock %}
