{% extends 'layouts/base.html.twig' %}

{% block body %}


{#* Formulaire de recherche *#}
<section id="recherche-materiel">
    <div class="container">
        <div class="mt-2 mb-4 h-100 p-4 text-white perso_bg_dark rounded-3">
            {{form_start(form)}}
            <div class="form-row">
                <div class="col">
                    {{ form_widget(form.mots) }}
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-4">
                    {{ form_widget(form.categorie) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.affectation) }}
                </div>
                <div class="col-4">
                    {{ form_widget(form.technique) }}
                </div>
            </div>
            {{form_end(form)}}
        </div>
    </div>
</section>

<section class="container mb-5" id="materiel-carte">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for materiel in materiels %}
            <div class="col">
                <div class="card h-100 shadow">

                    {% if materiel.categorie == 'petit materiel' or materiel.categorie == 'iqi' or materiel.categorie == 'cable ultrason' %}
                    <img src="{{ asset('images/categories/materiel.png') }}" class="card-img-top img-fluid" alt="{{materiel.categorie}}" height="250">
                {% else %}
                    <img src="{{ asset('images/categories/' ~ materiel.categorie | split(' ')[0] ~ '.png') }}" class="card-img-top img-fluid" alt="{{materiel.categorie}}" height="250">
                {% endif %}


                    <div class="card-body">
                        <h5 class="{{materiel.pvName ? 'text-success' : 'text-danger'}} card-title">
                            {{materiel.reference}} | {{materiel.categorie|capitalize}}
                        </h5>
                        <p class="card-text"> {{materiel.marque}} {{materiel.type}} </p>
                        <div class="d-flex justify-content-between">
                        <p class="card-text"> {{materiel.dimension}} mm | {{materiel.frequence}} mHz</p>
                            {% if materiel.isAvalaible %}
                                ✅
                            {% else %}
                                ❌
                            {% endif %}
                        </div>
                        <p class="card-text"> {{materiel.observation}}</p>
                    </div>
                    <div>
                        <a class="d-block mx-auto btn btn-outline-success w-50 mb-2" href="{{path('app_materiel_show', {'id': materiel.id})}}">Consulter la fiche</a>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">Fin de validité: </small>
                        <span class="text-danger">{{materiel.endCalibratedAt|date('d/m/Y')}}</span>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
