{% extends 'layouts/base.html.twig' %}

{% block title materiel.marque ~ ' ' ~ materiel.type %}

{% block body %}

	<section class="container" id="detail-materiel">
		<div class="mt-5 d-flex justify-content-center">
			<h1 class="text-center">
				{{materiel.reference}}
				<span class="badge badge-sm bg-success">{{materiel.categorie|capitalize}}</span>
			</h1>
		</div>

		<div class="col-md-6 mx-auto">
			<div class="mx-auto card shadow mb-5" style="width:35rem; height:auto;">

				{% if materiel.categorie == 'petit materiel' or materiel.categorie == 'iqi' or materiel.categorie == 'cable' %}
					<img src="{{ asset('images/categories/materiel.png') }}" class="card-img-top img-fluid" alt="{{materiel.categorie}}" height="250">
				{% else %}
					<img src="{{ asset('images/categories/' ~ materiel.categorie | split(' ')[0] ~ '.png') }}" class="card-img-top img-fluid" alt="{{materiel.categorie}}" height="250">
				{% endif %}

				<div class="card-body">
					<div class="row">
						<div class="col-8">
							<h1 class="h4 card-title">
								{{materiel.marque}}
								{{materiel.type}}
								<span class="text-muted h6">
									({{materiel.reference}})
								</span>
							</h1>
						</div>
						{% if materiel.frequence %}
							<div class="col-4">
								<span class="text-muted float-end">
									{{materiel.dimension}}
									-
									{{materiel.frequence}}
									Mhz
								</span>
							</div>
						{% endif %}
					</div>

					{# Date d'étalonnage #}
					<div class="row">
						<div class="container h5 d-flex justify-content-between">
							<span class="py-1 rounded text-center bg-success text-white fw-light h6 w-50 me-1">{{materiel.calibratedAt|date('d/m/Y')}}</span>
							<span class="py-1 rounded text-center bg-danger  text-white fw-light h6 w-50 ms-1">{{materiel.endCalibratedAt|date('d/m/Y')}}</span>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							{% if materiel.isAvalaible and materiel.affectation == 'manom' or materiel.affectation == 'dunkerque' %}
								<div class="card-text alert alert-success">
									<p class="lead">Cet article est disponible.</p>
								</div>

							{% elseif materiel.isAvalaible and materiel.affectation %}
								<div class="card-text alert alert-warning">
									<p class="lead">
										Ce matériel est disponsible sur le site de
										{{materiel.affectation}}
									</p>
								</div>

							{% else %}
								<div class="card-text alert alert-danger">
									<p class="lead">Cet article n'est pas disponible, il est actuellement affecté sur le site de
										{{materiel.affectation}}.</p>
								</div>
							{% endif %}
						</div>
					</div>

					{% if materiel.pvName %}
						<div class="card-footer text-muted text-center mt-2">
							<p class="fw-bold text-decoration-underline m-0 p-0" style="letter-spacing:1px;">
								Certificat de conformité <br>
							</p>
							<i>{{ materiel.pvName | split('-')[0] | capitalize }}</i>
							<hr>
							<div class="d-flex justify-content-around" id="download-pdf">
								<p class="ms-2">
									<a class="btn btn-outline-primary btn-xs" href="{{ asset('uploads/pv/' ~ materiel.pvName) }}" download>
										Télecharger
										<i class="fas fa-download"></i>
									</a>
								</p>
								
								<p class="me-2">
									<a class="btn btn-outline-primary btn-xs" target="_blank" href="{{ asset('uploads/pv/' ~ materiel.pvName) }}">
										Ouvrir
										<i class="fas fa-eye"></i>
									</a>
								</p>
							</div>
							<div id="display-pdf"></div>
						</div>

					{% else %}
						<div class="card-footer text-muted text-center my-2 bg-danger rounded">
							<p class="text-white h5">Aucun PV disponible.</p>
						</div>
					{% endif %}

					<div class="row">
						{% if is_granted ("ROLE_MAGASINIER") %}
							<div class="d-flex justify-content-between">
								<a class="btn btn-sm btn-warning w-50 me-1" href="{{ path('app_materiel_edit', {'id': materiel.id}) }}">Modifier</a>
								<a class="btn btn-sm btn-danger w-50 ms-1" href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr de vouloir supprimer?') && document.getElementById('materiel-deletion-form').submit();">
									Effacer
								</a>

								<form id="materiel-deletion-form" style="display:none" action="{{ path('app_materiel_delete', {'id': materiel.id}) }}" method="POST">
									<input type="hidden" name="csrf_token" value="{{ csrf_token('materiel_deletion_' ~ materiel.id) }}">
									<button type="submit">Effacer</button>
								</form>
							</div>
						{% endif %}
					</div>
				</div>
			</section>

			<section
				class="d-flex justify-content-center">{# <object 
										type="application/pdf"
										data="{{ asset('uploads/pv/' ~ materiel.pvName) }}"
										width="80%"
										height="500px">
									</object> #}


			</section>
		{% endblock %}
