{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Liste des fichiers - Bucket S3 - Technistore</h1>
    {% for file in files %}
        <ul>
            <li>file</li>
        </ul>
    {% endfor %}
{% endblock %}